In [5]:
import numpy as np
import pandas as pd

In [6]:
file_name = "task_log.csv"

df = pd.read_csv( file_name)

df.tail()

          date start time      Task       Study  Duration (s)
15  08/04/2020   09:11:37      code       Label             4
16  08/04/2020   09:12:22      code  self study             5
17  08/04/2020   09:14:47      Task       Label             4
18  08/04/2020   09:15:14  TryTask1  self study             9
19  08/04/2020   09:16:00      Task       Label             2

In [7]:
df.groupby(['Task','Study']).sum()

                     Duration (s)
Task     Study
Task     Label                  6
TryTask1 self study             9
code     Label                  4
         self study             5
         study                 92