In [117]:
import numpy as np
import pandas as pd
import datetime
import glob

In [118]:
path = 'D:\\Code_projects\\Work_timer\\log_files\\'
log_files = glob.glob( path+ '*.csv')  

df = pd.DataFrame()
for file in log_files :
    df_temp = pd.read_csv( file, index_col=None, header=0)  
    df_temp['day 0']  = df_temp['date'].min()
    df = df.append(df_temp ,sort=False)   
df.head()

         date start time              Task     Label  Duration (s)       day 0
0  2020/03/25   09:30:10    Some test task  Pendulum           900  2020/03/25
1  2020/03/27   09:10:30    Some test task  Pendulum           300  2020/03/25
0  2020/04/01   09:30:10    Some test task  Pendulum           900  2020/04/01
0  2020/04/08   11:09:00  Organize folders  Pendulum          1500  2020/04/08
1  2020/04/08   11:47:15  Organize folders  Pendulum           546  2020/04/08

In [119]:
df['date']

0    2020/03/25
1    2020/03/27
0    2020/04/01
0    2020/04/08
1    2020/04/08
2    2020/04/08
3    2020/04/08
4    2020/04/08
5    2020/04/08
6    2020/04/08
7    2020/04/08
8    2020/04/08
9    2020/04/08
Name: date, dtype: object

In [126]:
df['date'] = pd.to_datetime(df['date'] )
df['day 0'] = pd.to_datetime(df['day 0'] )

df_sub = df.groupby(['day 0','Label',]).sum()
df_sub['Duration'] = pd.to_timedelta(df_sub['Duration (s)'],'s')
df_sub =df_sub.drop( ['Duration (s)'],axis=1) 
df_sub

                             Duration
day 0      Label
2020-03-25 Pendulum          00:20:00
2020-04-01 Pendulum          00:15:00
2020-04-08 Flexible Pendulum 00:25:00
           Meetings          00:52:10
           Pendulum          00:34:08
           emptyLabel        00:00:00

In [125]:

df_sub = df.groupby(['date','Label',]).sum()
df_sub['Duration'] = pd.to_timedelta(df_sub['Duration (s)'],'s')
df_sub =df_sub.drop( ['Duration (s)'],axis=1) 
df_sub

                             Duration
date       Label
2020-03-25 Pendulum          00:15:00
2020-03-27 Pendulum          00:05:00
2020-04-01 Pendulum          00:15:00
2020-04-08 Flexible Pendulum 00:25:00
           Meetings          00:52:10
           Pendulum          00:34:08
           emptyLabel        00:00:00