In [20]:
import numpy as np
import pandas as pd
import datetime
import glob

In [21]:
path = 'D:\\Code_projects\\Work_timer\\log_files\\'
log_files = glob.glob( path+ '*.csv')  

df = pd.DataFrame()
for file in log_files :
    df_temp = pd.read_csv( file, index_col=None, header=0)  
    df_temp['day 0']  = df_temp['date'].min()
    df = df.append(df_temp ,sort=False)   
df.tail()

,date,start time,Task,Label,Duration (s),day 0
17,2020/04/09,12:58:31,Write email,Jobsearch,1500,2020/04/08
18,2020/04/09,13:27:43,Write email,Jobsearch,1061,2020/04/08
19,2020/04/09,15:21:10,NaN,newItem,3,2020/04/08
20,2020/04/09,15:24:45,test1,addLabel,3,2020/04/08
21,2020/04/09,15:26:01,NaN,"newLabel, remove",4,2020/04/08

In [22]:
 
df['Duration (hh:mm:ss)'] = pd.to_timedelta(df['Duration (s)'],'s')
df.tail()

,date,start time,Task,Label,Duration (s),day 0,Duration (hh:mm:ss)
17,2020/04/09,12:58:31,Write email,Jobsearch,1500,2020/04/08,00:25:00
18,2020/04/09,13:27:43,Write email,Jobsearch,1061,2020/04/08,00:17:41
19,2020/04/09,15:21:10,NaN,newItem,3,2020/04/08,00:00:03
20,2020/04/09,15:24:45,test1,addLabel,3,2020/04/08,00:00:03
21,2020/04/09,15:26:01,NaN,"newLabel, remove",4,2020/04/08,00:00:04

In [23]:
df['date'] = pd.to_datetime(df['date'] )
df['day 0'] = pd.to_datetime(df['day 0'] )

df_week = df.groupby(['day 0','Label',]).sum()
df_week['Time spent per week'] = pd.to_timedelta(df_week['Duration (s)'],'s')
df_week =df_week.drop( ['Duration (s)'],axis=1) 
df_week

                            Time spent per week
day 0      Label
2020-03-25 Other                       00:20:00
2020-04-01 Other                       00:15:00
2020-04-08 Jobsearch                   00:42:46
           Meetings                    00:52:10
           Other                       02:14:06
           Study                       02:07:57
           addLabel                    00:00:03
           emptyLabel                  00:00:00
           newItem                     00:00:03
           newLabel, remove            00:00:04

In [24]:
df_day = df.groupby(['date','Label',]).sum()
df_day['Time spent per day'] = pd.to_timedelta(df_day['Duration (s)'],'s')
df_day =df_day.drop( ['Duration (s)'],axis=1) 
df_day

                            Time spent per day
date       Label
2020-03-25 Other                      00:15:00
2020-03-27 Other                      00:05:00
2020-04-01 Other                      00:15:00
2020-04-08 Jobsearch                  00:00:05
           Meetings                   00:52:10
           Other                      00:59:06
           emptyLabel                 00:00:00
2020-04-09 Jobsearch                  00:42:41
           Other                      01:15:00
           Study                      02:07:57
           addLabel                   00:00:03
           newItem                    00:00:03
           newLabel, remove           00:00:04

In [25]:
df_day.groupby('date').sum()

           Time spent per day
date
2020-03-25           00:15:00
2020-03-27           00:05:00
2020-04-01           00:15:00
2020-04-08           01:51:21
2020-04-09           04:05:48